@import "tailwindcss";
/* @plugin "@tailwindcss/container-queries"; */
html {
    /* 375 画布 → 100px；414 画布 → 110.4px；360 画布 → 96px */
    font-size: clamp(80px, 26.6667vw, 120px); /* 26.6667vw = 100/375*100 */
}
body {
    margin: 0;
    font-size: 0.16rem;
}

@font-face {
    font-family: "MyTai";
    src: url("@/font/t.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "MyKai";
    src: url("@/font/o.ttf") format("truetype");
    font-display: swap;
}
