# 忽略所有层级下的node_modules, dist, build, logs, tmp
/**/node_modules   
/**/dist
/**/build
/**/logs
/**/tmp
/**/lib
/**/.next
/blog/next-env.d.ts
/javascript/out
/javascript/files
/vue-vite/dist.rar
.turbo
/mobx
