@use './public/scss/page';
.page{
    .tabnv{
        position:fixed;
        left:0;
        border-top:1px solid black;
        div{
            border:1px solid black;
            border-top:none;
            width: 150px;
            line-height: 34px;
            padding-left:10px;
            background-image: linear-gradient(to right, #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%, #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
        }
    }
    .content{
        @extend %page; //这里对scss文件进行导入好像也是会有名称污染的原因在
    }
}