.page{
    width:100%;
    height: 100vh;
    background-color:$color-0;
    margin-left: -10px;
    position:relative;
    // 颜色动画
    @keyframes hueRotate{
        0%{
            // contrast是设置对比度, hue-rotate是颜色滤镜 通过设置读书来改变颜色
            filter: contrast(15) hue-rotate(0);
        }
        100%{
            filter: contrast(15) hue-rotate(360deg);
        }
    }
    // 指定动画: 动画名称 时长 线性播放 无限次循环
    animation: hueRotate 5s linear infinite;
    filter: contrast(15);
    .source{
        width:100px;
        height: 100px;
        top: 20%;
        @include left-center;
        // filter: contrast(15);
        // 圆旋转动画
        @keyframes circleRotate{
            0%{
                transform: rotate(0);
            }
            100%{
                transform: rotate(360deg);
            }
        }
        .content{
            width: 100%;
            height: 100%;
            position:absolute;
            filter: blur(5px);
            // filter: blur(8px); //我也不清楚为啥这个模糊度没有达到效果
            &::after{
                width: 90%;
                height: 90%;  
                content: '';
                display: block;
                margin: 0 auto;
                background-color: cyan;
                animation: circleRotate 3s linear infinite ;
                border-radius: 42% 38% 63% 49% / 45%;
            }
        }
        .filing{
            width: 80%;
            height: 80%;
            @include page-center;  
            background-color: $color-0;
            border-radius: $border-50;
            display:flex; //利用弹性盒模型让文字垂直居中
            align-items: center;
            justify-content: center;
            color: $color-9;
        }
    }
    .electric{
        width: 100px;
        height: 40px;
        position: absolute;
        bottom: 0;
        @include left-center;
        background-color: cyan;
        border-radius:100px 100px 0 0;
        filter: blur(5px); //设置模糊度说是配合上面的contrast可以产生粘性
    }
    // 冒泡动画
    @keyframes bubbleUp{
        0%{
            bottom: 0;
        }
        100%{
            bottom: calc(80% - 55px);
        }
    }
    .bubble{
        width: 20px;
        height: 20px;
        border-radius: $border-50;
        background-color:cyan;
        position: absolute;
        bottom: 0;
        @include left-center;
        z-index:2;
        animation: bubbleUp 3s ease-in-out infinite;
        filter: blur(5px);
        //:nth-child()匹配的是父元素下的第几个子元素
        &:nth-child(1){
            width: 20px;
            height: 20px;
            left:48%;
            animation-duration: 5s;
            animation-delay:1s;
        }
        &:nth-child(2){
            width: 22px;
            height: 22px;
            left: 49%;
            animation-duration: 4s;
            animation-delay:2s;
        }
        &:nth-child(3){
            width: 18px;
            height: 18px;
            left: 52%;
            animation-duration: 3s;
            animation-delay:4s;
        }
        &:nth-child(4){
            width: 20px;
            height: 20px;
            left: 51%;
            animation-duration: 4s;
            animation-delay:5s;
        }
    }
}