/*颜色类*/
$color-0: #000;
$color-9: #999;

/*border-radius*/
$border-50: 50% 50%;

/*定位类*/
@mixin page-center{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
@mixin left-center{
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
}

/*边距类 加这个是因为在@use之前用前面的@mixin会报错*/
@mixin page{
    // sass中特殊的占位符选择器,仅能通过@extend延展来进行使用
    padding-left:10px;
    margin-left:162px;
}