.entry-page {
    min-width: 100vw;
    min-height: 100vh;
    background-image: url("/other.jpg");
    .grid-style {
        grid-template-rows: 1fr 3fr;
    }
    .font-kai {
        font-family: MyKai, serif !important;
    }
    .font-tai {
        font-family: MyTai, serif !important;
    }
    .clip-image {
        // clip-path: polygon(0% 0%, 100% 0%, 100% 195px, 50% 100%, 0% 195px);
    }
}
