/*颜色类*/
$color-0: #000;
$color-9: #999;

/*border-radius*/
$border-50: 50% 50%;

/*定位类*/
@mixin pageLeftBottom {
    bottom:0;
    left: 0;
    position: absolute;
}
@mixin pageLeftTop {
    top:0;
    left: 0;
    position: absolute;
}
@mixin page-center{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
@mixin left-center{
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
}

@mixin top-center{
    top: 50%;
    position: absolute;
    transform: translate(0, -50%);
}

// @mixin top-center-rotate45{
//     top: 50%;
//     position: absolute;
//     transform: translate(0, -50%) rotate(45deg); //当translate与rotate一起使用的时候会有问题,因为rotate是按照dom第一次出现的位置中心为轴进行旋转的(所以translate与rotate不建议一起使用)
// }

//给mixin的函数传参
@mixin position-marginTop($marginTop, $right){
    position: absolute;
    margin-top: $marginTop;
    right: $right;
}

/*边距类 加这个是因为在@use之前用前面的@mixin会报错*/
@mixin page{
    // sass中特殊的占位符选择器,仅能通过@extend延展来进行使用
    padding-left:10px;
    margin-left:162px;
}

/*旋转类*/
@mixin rotate($deg){
    transform: rotate($deg);
}

/*百分比类*/
@mixin widthPricent($num, $parentWidth : 750) {
    width: calc($num / $parentWidth) * 100%;
}

@mixin topPricent($num, $parentWidth : 750) {  //top是按照宽度取的百分比值
    padding-top: calc($num / $parentWidth) * 100%;
}