// .translateProps{
//     border:1px solid black;
//     display: flex;
//     .name{
//         text-align: center;
//         flex-basis: 100%;
//         flex-shrink:0;
//         @keyframes move-in{
//             0%{
//                 transform:translateX(0);
//             }
//             100%{
//                 transform:translateX(-100%);
//             }
//         }
//         @keyframes move-in{
//             0%{
//                 transform:translateX(0);
//             }
//             100%{
//                 transform:translateX(-100%);
//             }
//         }
//         &:nth-child(1){
//             transform: translateX(0);
//         }
//         &:nth-child(2){
//             transform: translateX(-100%);
//         }
//         &:nth-child(3){
//             transform: translateX(-200%);
//         }
//     }
// }
.translate{
    // @keyframes move-in{
    //     0%{
    //         transform: translateX(0);
    //     }
    //     25%{
    //         transform: translateX(-100%);
    //     }
    //     50%{
    //         transform: translateX(-200%);
    //     }
    //     75%{
    //         transform: translateX(-300%);
    //     }
    //     100%{
    //         transform: translateX(-400%);
    //     }
    // }
    overflow-x: hidden;
    border:1px red solid;
    .translateProps{
        will-change: transform;
        // animation:  move-in 12s ease infinite;
        transition:transform 2s;
        display: flex;
        flex-wrap: nowrap;
        .name{
            flex-shrink: 0;
            flex-basis: 100%;
        }
    }
}
