.download{
    margin: 10px 0;
    text-decoration: underline;
    color: blue;
}
.box{
    margin-bottom: 10px;
    position: relative;
    width: fit-content; //设置外层的div宽度自适应内部元素的宽度
    button {
        position: relative;
        display: flex;
        align-items: center;
        width: 100px;
        height: 25px;
        justify-content: center;
        span{
            white-space:nowrap;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(110%);
            &.active{
                color: red;
            }
        }
    }
    .file{
        //设置input的宽度和高度为外层元素宽高
        position: absolute;
        top:0;
        left:0;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
}
.submit{
    width: 50px;
    height: 25px;
    text-align: center;
}